################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyLoggingLibrary/.vs/MyLoggingLibrary/v15
/MyLoggingLibrary/x64/Debug
/Client/x64/Debug
/MyLoggingLibrary/x64/Release
